# Dependencies
node_modules/
.pnp/
.pnp.js

# Build Outputs
dist/
build/
out/

# Environment variables & Local Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Uploads & Temp
uploads/
scratch/
.system_generated/
*.db
*.sqlite

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore
